<div>
  <ul class="overflow-y-scroll">
    {%- render 'global-nav-list'
      , menu_item_class:'global-nav__menu-item relative my-xs overflow-y-hidden'
      , menu_base_button_class:'text-h3 md:text-l-h3'
      , menu_base_link_class:'text-h3 md:text-l-h3'
      , submenu_wrapper_class:'global-nav-mobile__menu-item-with-subitem opacity-0 overflow-y-hidden max-h-0 ml-xs mt-0 mb-0 z-10 space-y-1' -%}


    {%
       render 'global-nav-cart-button'
       , class: 'global-nav__cart-button relative mt-xs w-10 h-10 rounded-full border-neutral-300 border flex items-center justify-center'
    %}
  </ul>
</div>
