{% liquid
  if section.settings.text_size == 6
    assign text_size = section.settings.text_size | prepend: "h"
  else
    assign text_size = 6 | minus: section.settings.text_size | prepend: "h"
  endif
%}

{{ article.author }}

<div class="row jc-center py-{{ section.settings.gutter }}">
  {% for b in section.blocks %}

    {{ b.id }}

    {% liquid

      # comment

      capture gutter
        if forloop.first
          echo section.settings.gutter | prepend: "pr-"
        elsif forloop.last
          echo section.settings.gutter | prepend: "pl-"
        else
          echo section.settings.gutter | prepend: "px-"
        endif
      endcapture
    %}


    {{  }}

  {% endfor %}
</div>
