<div class="">

  <div id=""></div>
</div>


{%- schema -%}
  {
    "name": "string",
    "blocks": [$1],
    "class": "$1",
    "tag": $1,
    "defaults": [$1],
    "locales": {
      $1
    }
  }
{%- endschema -%}
