<!-- TEST: Liquid String Injections -->
<div class="{{ object.prop | filter: 'string' }}">

  <!-- TEST: Liquid Attribute Injections -->
  <div
    id="test"
    {% if condition == false %}
    data-id="{{ x }}"
    {% endif %}></div>

</div>


{% capture foo %}

  {% for %}
  {% endfor %}
{% endcapture %}


{% assign foo = %}

{% capture pros %}


  {{ pro | append: '' | append }}

{% endcapture %}
{% if %}

{% endif %}
{%- liquid
  if
    foo == bar
  elsif
    'foo'
  endif
  assign name = 'bar' | filter: 100 -%}


<script></script>


<!-- @prettify-ignore-start -->

{%- liquid
  if
    foo == bar
  elsif
    'foo'
  endif
  assign name = 'bar' | filter: 100
-%}

<!-- @prettify-ignore-end -->

{% # TEST: Liquid Schema Tag Block Validations %}


<!-- TEST: Shopify Schema Tag Block -->
{% schema %}
  {
    "name": "string",
    "blocks": "",
    "class": "$1",
    "tag": $1,
    "defaults": [$1],
    "locales": {
      $1
    }
  }
{% endschema %}

