<div>

  foo

  {% for block in section.blocks %}

    {% if block.type == 'something' %}

      {{ block.settings.xxxx }}

    {% elsif block.type == 'xxx' %}

      {{ block.settings.foo }}

    {% endif %}


  {% endfor %}

</div>


{% schema %}
  {
    "name": "dsss",
    "settings": [
      {
        "type": "page",
        "placeholder": "",
        "id": "",
        "default": 0,
      }
    ],
    "blocks": [
      {
        "name": "Foo",
        "type": "something",
        "settings": [
          {
            "type": "text",
            "id": "xxxx",
            "label": "foo"
          }
        ]
      },
      {
        "name": "example",
        "type": "xxx",
        "settings": [
          {
            "type": "article",
            "id": "drive",
            "label": "car",
            "default": 0
          },
          {
            "default": 0,
            "type": "blog",
            "id": "foo",
            "label": "bar"
          }
        ]
      }
    ]
  }
{% endschema %}
