{% for product in collection.products %}
{{ product.title }}
{% endfor %}

{% for product in collection.products %}
{{ product.title }}
{% else %}
The collection is empty.
{% endfor %}

{% for i in (1..5) %}
{% if i == 4 %}
{% break %}
{% else %}
{{ i }}
{% endif %}
{% endfor %}

{% for i in (1..5) %}
{% if i == 4 %}
{% continue %}
{% else %}
{{ i }}
{% endif %}
{% endfor %}

{% for item in numbers limit: 2 %}
{{ item }}
{% endfor %}

{%- for item in numbers offset: 2 %}
{{ item }}
{% endfor %}

{% for i in (3..5) %}
{{ i }}
{% endfor %}

{%- assign my_limit = 4 -%}
{% for i in (1..my_limit) %}
{{ i }}
{%- endfor -%}

{% for fff in (1..my_limit) %}
{{ fff  }}
{% endfor %}

{% for item in array reversed %}
{{ item }}
{% endfor %}

{% cycle 'one', 'two', 'three' %}
{% cycle 'one', 'two', 'three' %}
{% cycle 'one', 'two', 'three' %}
{% cycle 'one', 'two', 'three' %}

{% paginate collection.products by 5 %}
{% for product in collection.products %}
<!--show product details here -->
{% endfor %}
{% endpaginate %}
