---json
{
  "foo": "bar",
  "array": [
    "one",
    "two",
    "three"
  ]
}
---


---json

<div id="something">

  {% if condition %}

    Hello World

  {% endif %}

</div>

{
  "foo": "bar",
  "array": [
    "one",
    "two",
    "three"
  ]
}

---
