<!-- TEST: Shopify Schema Tag Block -->
<div id="xx"></div>

{% schema %}
  {
    "name": "string",

    "tag": "section",
    "default": [],

    "settings": [
      {

        "type": "image_picker",
        "id": "",
        "label": ""

      }

    ],

    "locales": {}

  }

{% endschema %}
