<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>


    <ul>

      {% # @prettify-ignore-next %}
      <li >   I will be ignored    </li>

      <li>
        Formatted
      </li>

      {% # @prettify-ignore-start %}
      <li>
        I will be ignored
      </li>
      {% # @prettify-ignore-end %}

    </ul>

  </body>
</html>
