<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello World
    </title>
  </head>
  <body>


    <ul>

      {% # esthetic-ignore-next %}
      <li>
        <li>
          I will be ignored
        </li>


      {% # esthetic-ignore-end %}

    </ul>

  </body>
</html>