<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello World
    </title>
  </head>
  <body>


    <ul>

      {% # @prettify-ignore-next %}
      <li>
      <li>
        I will be ignored
      </li>


      {% # @prettify-ignore-end %}

    </ul>

  </body>
</html>
