<body>
  <main>
    <div>
      <section>

        <script>
                  console . log (
                  'block 3')
        </script>


        <script>
              console . log ('block 3')
        </script>

        <script
          id="fooo"
          class="bar"
          data-id="xxxx">


          console.log(   'content is ignored'    );
        </script>

        <script src="fooo"></script>

      </section>
    </div>
  </main>
</body>
