{% # COMMENT KEYWORD %}

{% if blog.comments_enabled? %}{% endif %}

{% # COMMENT KEYWORD %}

{% for comment in article.comments %}{% endfor %}

  {% # COMMENT KEYWORD %}

{% assign comment = endcomment %}

<div
  id="xxx"
  {% # COMMENT %}
  class="some-class"
  data-{{ additional_checkout_buttons }}></div>

<div
  id="xxx"
  {% comment %}
  class="some-class"
  {% endcomment %}
  data-attribute="xxx"></div>

{% liquid
  comment
    foo
  endcomment %}
