{% # SNIPPET FILE COMPLETIONS %}

{% render 'file-1' %}

{% # SECTION FILE COMPLETIONS %}

{% section  %}


{% # SETTINGS DATA FILE COMPLETIONS %}

{{ settings.blog_card_border_thickness }}


{% # LOCALE FILE COMPLETIONS %}

{{ 'general.cart.view' | t: count: 10 }}

<div>

  <h1>
    {{ 'general.testing.some_text' | t: dave: 'foo', feature: 'bar', sissel: 'baz' }}
  </h1>

</div>

