{{ article }}

{% if product.available or product %}{% endif %}

<div>
  {{ product }}
  {% if product.available %}

    {% assign variable = value %}

    {% if address.address1 %}{% endif %}

    {{ }}

  {% endif %}
</div>

{% for i in product.available %}{% endfor %}
